@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

html,
body {
  font-family: 'Pretendard', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

p {
  margin: 0;
  width: auto;
}